.Rproj.user
.Rhistory
.RData
.Ruserdata

*.nb.html

/.quarto/
ols-ex_files/
applications_cache/
applications_files/
_extensions/
appendix-a_files/
appendix-c_files/
credibility_files/
glmm-models_files/
lmm-models_files/
_book/appendix-a_files/
_book/appendix-c_files/
_book/credibility_files/
_book/glmm-models_files/
_book/lmm-models_files/
figure/
glm-review_files/

hachemeister-calcs.Rmd
mean-dispersion-modeling.Rmd
simple-simulation-with-weird-results.Rmd
some-credibility-examples.Rmd
libs.txt
scratch.Rmd
scratch-*.Rmd
*-code.Rmd
*-old.qmd
*.zip
*.csl
*.xlsx

*.aux
*.lof
*.lot
*.toc
*.log

**/*.quarto_ipynb
